<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PublishServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="PublishServiceSoap1"/>
                <binding name="BusinessServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="BusinessServiceSoap1"/>
                <binding name="PortalServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="PortalServiceSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ttythoavangadmindemo.vnpt-invoice.com.vn/businessService.asmx" binding="basicHttpBinding" bindingConfiguration="BusinessServiceSoap" contract="VNPTBusinessService.BusinessServiceSoap" name="BusinessServiceSoap"/>
            <endpoint address="https://ttythoavangadmindemo.vnpt-invoice.com.vn/publishService.asmx" binding="basicHttpBinding" bindingConfiguration="PublishServiceSoap" contract="VNPTPublishService.PublishServiceSoap" name="PublishServiceSoap"/>
            <endpoint address="https://ttythoavangadmindemo.vnpt-invoice.com.vn/PortalService.asmx" binding="basicHttpBinding" bindingConfiguration="PortalServiceSoap" contract="VNPTPortalService.PortalServiceSoap" name="PortalServiceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
