<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQueueManagementService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.86.222.72:7070/QueueManagementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueManagementService"
                contract="QMSService.IQueueManagementService" name="BasicHttpBinding_IQueueManagementService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
