<?xml version="1.0" encoding="utf-8" ?>
<properties>
  <add key="root" value="" />
  <!--<add key="CONNECTION_STRING" value="server=10.86.222.177;database=DEV.EHOS.SYS;user id=sa;password=123456aA@;Connect Timeout=300;" />-->
  <!--<add key="CONNECTION_STRING" value="Data Source=localhost;Initial Catalog=EHOS.SYS;Integrated Security=true;" />-->
  
  <add key="CONNECTION_STRING" value="nlJOrS3NNIiKpzALPMgeHUPMy2uggpxaawgynAEYRrFZozhNeH+/Lklg0N59fJaNbtNVHfYx8nWzGD3D3Lq9DQkGU/SQ2TP6LklpSSiLWiZLvlX+b0VF54qfrqzXnMbm" />
  <!--<add key="CONNECTION_STRING" value="server=10.86.222.71;database=DANANG.HIS.SYS;user id=sa;password=P@ssword;Connect Timeout=300;" />-->  
</properties>
