<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <setting>
    <section id="DaoProvider" path="Services\"/>

    <!--For local (direct) mode-->
    
    <section id="ServiceProvider" path="Services\" direct="true"/>    
    <section id="ResourceFolder" path="D:/eHosResources/Resources"/>
    <section id="ReportFolder" path="D:/eHosResources/Reports"/>
    <section id="UserService" uri ="http://localhost:2013/api/" />

    <!--For Web service mode : HL-->    
    <!--<section id="ServiceProvider" path="http://10.86.222.71:1010/api/"/>    
    <section id="ResourceFolder" path="http://10.86.222.71:112/Data/"/>
    <section id="ReportFolder" path="http://10.86.222.71:112/Reports/"/>
    <section id="UserService" uri ="http://10.86.222.71:1011/api/" />-->

    <!--For Web service mode : DN-DL-->
    <!--<section id="ServiceProvider" path="http://10.86.222.71:2010/api/"/>
    <section id="ResourceFolder" path="http://10.86.222.71:112/Data/"/>
    <section id="ReportFolder" path="http://10.86.222.71:112/Reports/"/>
    <section id="UserService" uri ="http://10.86.222.71:2011/api/" />-->
    
    <section id="Theme" source="theme.xml"/>
        
    <section id="Resource" assembly=""/>       
    <!--Local folders-->
    <section id="TempFolder" path="D:/eHosResources/Temp"/>
    <section id="CacheFolder" path="D:/eHosResources/Caches"/>    
  </setting>

  <!--Add the localized string files-->
  <strings>
    <section id="Common" source="Strings/Common.xml"/>
    <section id="Messages" source="Strings/Messages.xml"/>
    <section id="Fields" source="Strings/Fields.xml"/>
    <section id="Validation" source="Strings/Validation.xml"/>
    <section id="FormTitle" source="Strings/FormTitle.xml"/>
    <section id="MENU" source="Strings/MENU.xml" />
	  <section id="FormString" source="Strings/FormString.xml" />
  </strings>

  <Contents>
    <section id="FRAME" class="FPT.eHospital.Forms.Base.VMFrame" assembly="Screens/ScrSYS"/>
    <!--<section id="MAIN" class="FPT.eHospital.Forms.Base.VMHosSingleLauncher" assembly="Screens/ScrSYS"/>-->
    <section id="MAIN" class="FPT.eHospital.Forms.Base.VMHosTabLauncher" assembly="Screens/ScrSYS"/>
    <!--<section id="MAIN" class="FPT.eHospital.Forms.Base.VMHosMain" assembly="Screens/ScrSYS"/>-->
    <section id="LOGIN" class="FPT.eHospital.Forms.Common.VMLogin" assembly="Screens/ScrSYS"/>
  </Contents>  
</configuration>
