<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties>
    <property resource="properties.config"/>
  </properties>
  
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  
  <database>
    <provider name="${DB_PROVIDER}" />
    <dataSource name="eHosSysDB" connectionString="${CONNECTION_STRING}"/>  
  </database>
  
  <alias>
    <typeAlias alias="DataObject" type="FPT.Framework.Data.DataObject"/>
  </alias>
  
  <sqlMaps>
    <!--<sqlMap embedded="Maps.SqlMapSysMasters.xml, Resources" />
    <sqlMap embedded="Maps.DAO00007.xml, Resources" />
    <sqlMap embedded="Maps.DAO00008.xml, Resources" />-->
    
    <sqlMap resource="${root}Services/${MAPS_FOLDER}/DAO00001.xml" />
    <sqlMap resource="${root}Services/${MAPS_FOLDER}/DAO00002.xml" />
    <sqlMap resource="${root}Services/${MAPS_FOLDER}/DAO00003.xml" />
  </sqlMaps>
   
</sqlMapConfig>